<div class="main-content-inner">

	<!-- /section:basics/content.breadcrumbs -->
	<div class="page-content">

		<!-- /section:settings.box -->
		<div class="page-header">
			<h1>
				纳古志愿者·电子阅览室
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
					爱生活， 爱阅读
				</small>
			</h1>
		</div><!-- /.page-header -->

		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->
				<div>
					<ul class="ace-thumbnails clearfix">
						<!-- #section:pages/gallery -->
						<li ng-repeat="book in books track by $index">
							<a ng-href="{{book.alt}}" title="Photo Title" data-rel="colorbox" class="cboxElement">
								<img height="300" alt="{{book.title}}" ng-src="{{book.images.large}}">
							</a>

							<div class="tags">
								<span class="label-holder">
									<span class="label label-info">{{book.tags[0].name}}</span>
								</span>
								<span class="label-holder">
									<span class="label label-danger">{{book.tags[1].name}}</span>
								</span>
								<span class="label-holder">
									<span class="label label-success">{{book.tags[2].name}}</span>
								</span>
								<span class="label-holder">
									<span class="label label-warning">{{book.tags[3].name}}</span>
								</span>
							</div>

						</li>
					</ul>
				</div><!-- PAGE CONTENT ENDS -->
				<div class="center" ng-if="start < total">
					<button type="button" class="btn btn-sm btn-primary btn-white btn-round"  ng-click="getBooks()">
						<i class="ace-icon fa fa-rss bigger-150 middle orange2"></i>
						<span class="bigger-110">显示更多</span>

						<i class="icon-on-right ace-icon fa fa-arrow-right"></i>
					</button>
				</div>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.page-content -->
</div>