<div class="main-content-inner">
	<!-- /section:basics/content.breadcrumbs -->
	<div class="page-content">

		<!-- /section:settings.box -->
		<div class="page-header">
			<h1>
				新增受助者
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
					填写受助者信息
				</small>
			</h1>
		</div><!-- /.page-header -->

		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<h4 class="blue">
					<span class="middle">基本信息</span>
				</h4>

				<div class="profile-user-info">
					<div class="profile-info-row">
						<div class="profile-info-name"> 姓名 </div>

						<div class="profile-info-value">
							<span>alexdoe</span>
						</div>
					</div>

					<div class="profile-info-row">
						<div class="profile-info-name"> 手机号 </div>

						<div class="profile-info-value">
							<span>38</span>
						</div>
					</div>

					<div class="profile-info-row">
						<div class="profile-info-name"> 家庭住址 </div>

						<div class="profile-info-value">
							<i class="fa fa-map-marker light-orange bigger-110"></i>
							<span>Netherlands</span>
							<span>Amsterdam</span>
						</div>
					</div>

					

					<div class="profile-info-row">
						<div class="profile-info-name"> 纳古志愿者微信Id </div>

						<div class="profile-info-value">
							<span>2dff</span>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-6">
				<h4 class="blue">
					<span class="middle">高中阶段信息</span>
				</h4>

				<div class="profile-user-info">
					<div class="profile-info-row">
						<div class="profile-info-name"> 学校名称 </div>

						<div class="profile-info-value">
							<span>alexdoe</span>
						</div>
					</div>

					<div class="profile-info-row">
						<div class="profile-info-name"> 毕业年份 </div>

						<div class="profile-info-value">
							<i class="fa fa-map-marker light-orange bigger-110"></i>
							<span>Netherlands</span>
							<span>Amsterdam</span>
						</div>
					</div>	
				</div>
			</div>

			<div class="col-xs-12 col-sm-6">
				<h4 class="blue">
					<span class="middle">大学阶段信息</span>
				</h4>

				<div class="profile-user-info">
					<div class="profile-info-row">
						<div class="profile-info-name"> 学校名称 </div>

						<div class="profile-info-value">
							<span>alexdoe</span>
						</div>
					</div>

					<div class="profile-info-row">
						<div class="profile-info-name"> 学院及专业 </div>

						<div class="profile-info-value">
							<i class="fa fa-map-marker light-orange bigger-110"></i>
							<span>Netherlands</span>
							<span>Amsterdam</span>
						</div>
					</div>	
					<div class="profile-info-row">
						<div class="profile-info-name"> 毕业年份 </div>

						<div class="profile-info-value">
							<span>Amsterdam</span>
						</div>
					</div>	
				</div>
			</div>

			<div class="col-xs-12 col-sm-6">
				<h4 class="blue">
					<span class="middle">硕士阶段信息</span>
				</h4>

				<div class="profile-user-info">
					<div class="profile-info-row">
						<div class="profile-info-name"> 学校名称 </div>

						<div class="profile-info-value">
							<span>alexdoe</span>
						</div>
					</div>

					<div class="profile-info-row">
						<div class="profile-info-name"> 学院及专业 </div>

						<div class="profile-info-value">
							<span>alexdoe</span>
						</div>
					</div>

					<div class="profile-info-row">
						<div class="profile-info-name"> 研究方向 </div>

						<div class="profile-info-value">
							<span>alexdoe</span>
						</div>
					</div>

					<div class="profile-info-row">
						<div class="profile-info-name"> 毕业年份 </div>

						<div class="profile-info-value">
							<span>Amsterdam</span>
						</div>
					</div>	
				</div>
			</div>

			<div class="col-xs-12 col-sm-6">
				<h4 class="blue">
					<span class="middle">博士阶段信息</span>
				</h4>

				<div class="profile-user-info">
					<div class="profile-info-row">
						<div class="profile-info-name"> 学校名称 </div>

						<div class="profile-info-value">
							<span>alexdoe</span>
						</div>
					</div>

					<div class="profile-info-row">
						<div class="profile-info-name"> 学院及专业 </div>

						<div class="profile-info-value">
							<span>alexdoe</span>
						</div>
					</div>

					<div class="profile-info-row">
						<div class="profile-info-name"> 研究方向 </div>

						<div class="profile-info-value">
							<span>alexdoe</span>
						</div>
					</div>

					<div class="profile-info-row">
						<div class="profile-info-name"> 毕业年份 </div>

						<div class="profile-info-value">
							<span>Amsterdam</span>
						</div>
					</div>	
				</div>
			</div>
		</div>

		<div class="clearfix form-actions row">
			<div class="col-md-offset-3 col-md-9">
				<button class="btn btn-info" type="button" ng-click="actions.submit(acceptor)">
					<i class="ace-icon fa fa-check bigger-110"></i>
					确定
				</button>
			</div>
		</div>
	</div><!-- /.page-content -->
</div>