<div class="main-content-inner">
	<!-- /section:basics/content.breadcrumbs -->
	<div class="page-content">

		<!-- /section:settings.box -->
		<div class="page-header">
			<h1>
				新增受助者
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
					填写受助者信息
				</small>
			</h1>
		</div><!-- /.page-header -->

		<div class="row">
			<!-- 基本信息 -->
			<div class="col-xs-12 col-sm-4">
				<div class="widget-box">
					<div class="widget-header">
						<h4 class="widget-title">基本信息</h4>
					</div>

					<div class="widget-body">
						<div class="widget-main">
							<div>
								<label for="form-field-8">姓名</label>

								<input class="form-control" id="form-field-8" placeholder="Default Text"></textarea>
							</div>
							<div>
								<label for="form-field-8">手机号</label>

								<input class="form-control" id="form-field-8" placeholder="Default Text"></textarea>
							</div>
							<div>
								<label for="form-field-8">性别</label>

								<input class="form-control" id="form-field-8" placeholder="Default Text"></textarea>
							</div>
							<div>
								<label for="form-field-8">家庭住址</label>

								<input class="form-control" id="form-field-8" placeholder="Default Text"></textarea>
							</div>
							<div>
								<label for="form-field-8">纳古志愿者微信Id</label>

								<input class="form-control" id="form-field-8" placeholder="Default Text"></textarea>
							</div>
						</div>
					</div>
				</div>
			</div><!-- /.span -->

			<!-- 高中学生信息 -->
			<div class="col-xs-12 col-sm-4">
				<div class="widget-box">
					<div class="widget-header">
						<h4 class="widget-title">高中阶段信息</h4>
					</div>

					<div class="widget-body">
						<div class="widget-main">
							<div>
								<label for="form-field-8">学校名称</label>

								<input class="form-control" id="form-field-8" placeholder="Default Text"></textarea>
							</div>
							<div>
								<label for="form-field-8">毕业年份</label>

								<input class="form-control" id="form-field-8" placeholder="Default Text"></textarea>
							</div>
						</div>
					</div>
				</div>
			</div><!-- /.span -->

			<!-- 大学学生信息 -->
			<div class="col-xs-12 col-sm-4">
				<div class="widget-box">
					<div class="widget-header">
						<h4 class="widget-title">大学阶段信息</h4>
					</div>

					<div class="widget-body">
						<div class="widget-main">
							<div>
								<label for="form-field-8">学校名称</label>

								<input class="form-control" id="form-field-8" placeholder="Default Text"></textarea>
							</div>
							<div>
								<label for="form-field-8">学院及专业</label>

								<input class="form-control" id="form-field-8" placeholder="Default Text"></textarea>
							</div>
							<div>
								<label for="form-field-8">毕业年份</label>

								<input class="form-control" id="form-field-8" placeholder="Default Text"></textarea>
							</div>
						</div>
					</div>
				</div>
			</div><!-- /.span -->

			<!-- 硕士学生信息 -->
			<div class="col-xs-12 col-sm-4">
				<div class="widget-box">
					<div class="widget-header">
						<h4 class="widget-title">硕士学生信息</h4>
					</div>

					<div class="widget-body">
						<div class="widget-main">
							<div>
								<label for="form-field-8">学校名称</label>

								<input class="form-control" id="form-field-8" placeholder="Default Text"></textarea>
							</div>
							<div>
								<label for="form-field-8">学院及专业</label>

								<input class="form-control" id="form-field-8" placeholder="Default Text"></textarea>
							</div>
							<div>
								<label for="form-field-8">研究方向</label>

								<input class="form-control" id="form-field-8" placeholder="Default Text"></textarea>
							</div>
						</div>
					</div>
				</div>
			</div><!-- /.span -->

			<!-- 博士学生信息 -->
			<div class="col-xs-12 col-sm-4">
				<div class="widget-box">
					<div class="widget-header">
						<h4 class="widget-title">博士学生信息</h4>
					</div>

					<div class="widget-body">
						<div class="widget-main">
							<div>
								<label for="form-field-8">学校名称</label>

								<input class="form-control" id="form-field-8" placeholder="Default Text"></textarea>
							</div>
							<div>
								<label for="form-field-8">学院／专业</label>

								<input class="form-control" id="form-field-8" placeholder="Default Text"></textarea>
							</div>
							<div>
								<label for="form-field-8">研究方向</label>

								<input class="form-control" id="form-field-8" placeholder="Default Text"></textarea>
							</div>
						</div>
					</div>
				</div>
			</div><!-- /.span -->
		</div>

		<div class="clearfix form-actions row">
			<div class="col-md-offset-3 col-md-9">
				<button class="btn btn-info" type="button">
					<i class="ace-icon fa fa-check bigger-110"></i>
					Submit
				</button>
			</div>
		</div>
	</div><!-- /.page-content -->
</div>